body{
    line-height: 2;
    background-color:yellowgreen;
}
h1{
    color: rgb(216, 6, 23);
    text-transform: uppercase;
}
a{
  text-decoration: none;
  
}
button{
    border-radius: 15px;
    border-color: black;
    background-color: rgb(19, 234, 112);
    font-weight: 700;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-right: 20px;
}
